

<div class="footer surface-800 ">
    <div class="p-5card-container pt-4">
        <div class=" w-3 m-auto  flex justify-content-center py-5 pt-6 footer_social">
            <!-- <a href="#"> <i
                    class="fa-brands p-3 border-circle text-center w-3rem h-1.rem fa-facebook-f bg-primary text-900 text-base mr-4"></i></a> -->
             <a href="#"><i
                    class="pi pi-github p-3 border-circle text-center w-1.5rem h-1.5rem text-base mr-4"></i></a>
            <a href="#"> <i
                    class=" pi pi-instagram p-3 border-circle text-center w-1.5rem h-1.5rem text-base mr-4"></i></a>
            <a href="#"> <i
                    class="pi pi-twitter p-3 border-circle text-center w-1.5rem h-1.5rem text-base mr-4"></i></a>
            <a href="#"><i
                    class="pi pi-github p-3 border-circle text-center w-1.5rem h-1.5rem text-base"></i></a>
        </div>
        <div class="footer_links pb-2 flex justify-content-center w-4 my-3 mb-4 m-auto">
            <a class="mr-3 text-sm text-300 uppercase" href="#">Home <span class="ml-2">|</span></a>
            <a class="mr-3 text-sm text-300 uppercase" href="#">Pizza <span class="ml-2">|</span></a>
            <a class="mr-3 text-sm text-300 uppercase" href="#">Salad <span class="ml-2">|</span></a>
            <a class="mr-3 text-sm text-300 uppercase" href="#">Beef <span class="ml-2">|</span></a>
            <a class="text-sm text-300 uppercase" href="#">Contact Us </a>
        </div>
    </div>
    <div class="cpy_rigth my-6 text-center ">
        <p class="text-900 py-3 text-xs">Copyright © 2022 FoodApp All Rights Reserved. Made With.. <i
                class="pi pi-heart-fill text-xs text-pink-50"></i></p>
    </div>
</div>