<div
  *ngIf="waitingFlag"
  style="height: 100vh"
  class="flex justify-content-center align-items-center"
>
  <p-progressSpinner></p-progressSpinner>
</div>
<ng-container *ngIf="!waitingFlag">
  <h2 class="text-center mt-7 text-5xl text-blue-900">
    {{ category }} recipes
  </h2>
  <div class="flex flex-wrap">
    <div
      class="col-12 md:col-6 lg:col-4"
      *ngFor="let recipe of recipeList | search: searchText"
    >
      <app-recipe-item [recipe]="recipe"> </app-recipe-item>
    </div>
  </div>
</ng-container>
