<div
  *ngIf="waitingFlag"
  style="height: 100vh"
  class="flex justify-content-center align-items-center"
>
  <p-progressSpinner></p-progressSpinner>
</div>
<ng-container *ngIf="!waitingFlag">
  <div class="my-7 grid">
    <figure class="col-12 md:col-6 m-0">
      <img
        style="max-width: 100%"
        [src]="recipe.image_url"
        [alt]="recipe.title"
        width="100%"
      />
    </figure>
    <div class="col-12 md:col-6 md:pl-7 text-center md:text-left">
      <h2 class="text-3xl text-blue-800 mb-5 mt-0">{{ recipe.title }}</h2>
      <p class="text-teal-500 text-xl font-bold my-1">Ingredients :</p>
      <ul class="ingradient-list list-none">
        <li
          *ngFor="let ingredient of recipe.ingredients"
          class="my-3 line-height-3 relative"
        >
          {{ ingredient }}
        </li>
      </ul>
      <a
        class="text-gray-700 inline-block mb-2 text-xl text-green-700 mt-5"
        [href]="recipe.source_url"
        target="_blank"
        no-referrer
        >To see how to make it easily</a
      >
      <p class="my-2 text-xl text-green-700">
        Recipe Owner :
        <a
          class="no-underline text-gray-700 inline-block owner-link"
          target="_blank"
          [href]="recipe.publisher_url"
          >{{ recipe.publisher }}</a
        >
      </p>

      <button type="button" class="mx-auto w-4 text-white bg-primary-500
      border-primary-500 p-1 text-sm
        border-solid border-round cursor-pointer
        transition-all transition-duration-200 hover:bg-primary-600
        hover:border-primary-600 active:bg-primary-700 active:border-primary-700"
        (click)="updateRecipe(recipe.recipe_id)">
        Update Recipe
      </button>
    </div>
  </div>
</ng-container>
