.ingradient-list li::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../../../../assets/icons/images.png");
  background-size: cover;
  position: absolute;
  top: -5%;
  right: 101%;
}
.owner-link:hover {
  color: #1e4620 !important;
}
.details-link:hover{
  color: #1e4620 !important;

}
